@import '~@fluentui/react/dist/sass/References.scss';


  :global {
    .CanvasComponent.LCS .CanvasZone:not(.CanvasZone--fullWidth) .ControlZone {
      padding: 0px !important;
    }
  }

.descargarContainer {
  padding: 4px;
  padding-left: 10px;
  background: #e9e9ec;
  border-radius: 5px;
  color: black;
  font-weight: bold;
}

.inputRow {
  display: flex;
  align-items: center;
  width: 100%;
}

.textInput {
  flex-grow: 1;
  margin-right: 8px;
}